<template>
	<div class="my-post">
		
		<Success :success="success" />

		<div>
			<PostItem
				v-for="(post, index) in posts"
				:key="index"
				:data="post"
				:user="true"
				@confirmDelete="confirmDelete"
			/>
		</div>

		<Loading class="post-loading" :show="horizontal_loading" type="horizontal" />

		<div
			class="scroll-top d-flex justify-content-center align-items-center"
			v-if="scroll_top"
			@click="scrollToTop"
		>
			<img :src="arrow_up_image" alt="Top" />
		</div>

		<!-- confirm modal -->
		<div class="modal fade confirm-modal" ref="confirmModal" tabindex="-1" aria-labelledby="auth-modal" aria-hidden="true">
	        <div class="modal-dialog modal-dialog-centered justify-content-center">
	            <div class="modal-content">
	                <div class="modal-body">
	                	Are you sure want to delete <b class="text-danger">{{ delete_title }}</b>?
	                </div>
	                <div class="modal-footer">
	                	<button class="btn btn-sm btn-light" type="button" data-dismiss="modal">Cancel</button>
	                	<button class="btn btn-sm btn-danger" type="button" @click="deletePost">Delete</button>
	                </div>
	            </div>
	        </div>
	    </div>

	</div>
</template>

<script>
    import { get, post } from '../../helpers/Request'
    import PostItem from '../../components/PostItem.vue'
    import Success from '../../components/Success.vue'
    import Loading from '../../components/Loading.vue'

	export default {
		components: {
			PostItem,
			Success,
			Loading
		},
		props: {
			success_msg: {
				type: String,
				default: null
			}
		},
		data() {
			return {
				arrow_up_image: this.$store.state.general.arrow_up_image,
				posts: [],
				current_page: 0,
				last_page: 1,
				horizontal_loading: 0, 	// local (component) loading
				scroll_top: false,
				delete_id: null,
				delete_title: null,
				success: null
			}
		},
		created() {
			window.addEventListener('scroll', this.handleScroll)
			if (this.success_msg) {
				this.success = this.success_msg
			}
			this.getPosts()
		},
		destroyed() {
			window.removeEventListener('scroll', this.handleScroll)
		},
		methods: {
			async getPosts() {
				// show loading
				this.$store.commit('general/showLoading')

				let url = '/post/user'

				const response = await get(url)
	            if (response.status === "success") {
					this.posts = response.result.data
					this.current_page = response.result.current_page
					this.last_page = response.result.last_page

					// hide loading
					this.$store.commit('general/hideLoading')
	            }
			},
			async loadMore() {
				this.horizontal_loading = 1

				let url = '/post/user?page=' + (this.current_page + 1)

				const response = await get(url)
	            if (response.status === "success") {
	            	// add new post to existing data
					this.posts.push(...response.result.data)

					this.current_page = response.result.current_page
					this.last_page = response.result.last_page

					this.horizontal_loading = 0
	            }
	            else {
	            	this.horizontal_loading = -1
	            }
			},
			handleScroll() {
				let scroll_pos = window.scrollY
				let win_height = window.innerHeight
				let doc_height = document.documentElement.scrollHeight
				let percentage = 100 * scroll_pos / (doc_height - win_height)

				if (percentage > 90
					&& this.horizontal_loading === 0 &&
					this.current_page < this.last_page) {
					this.loadMore()
				}

				// show/ hide scroll top
				if (scroll_pos >= 400) {
					this.scroll_top = true
				}
				else {
					this.scroll_top = false
				}
			},
			scrollToTop() {
				window.scrollTo({ top: 0, behavior: 'smooth' })
			},
			confirmDelete(e) {
				this.delete_id 	  = e.id
				this.delete_title = e.title

				// show modal
				$(this.$refs.confirmModal).modal('show')
			},
			async deletePost() {
				$(this.$refs.confirmModal).modal('hide')

				this.$store.commit('general/showLoading')

                let url = '/post/delete'
                let params = {
                	post_id: this.delete_id
                }

                const response = await post(url, params)
                if (response.status === "success") {
                	let posts = this.posts
                	// remove deleted post
                	for(let i = 0; i < posts.length; i++) {
                		if (posts[i].id === this.delete_id) {
                			posts.splice(i, 1)
                			break
                		}
                	}
                	this.posts 		  = posts
                	this.delete_id 	  = null
                	this.delete_title = null
                	this.success 	  = "Delete post success"

                    this.$store.commit('general/hideLoading')
                }
			}
		}
	};
</script>