<template>
	<div class="new-post">
		<div class="form-wrapper">

			<Error :errors="errors" />

			<form @submit.prevent="validateForm">
	            <div class="form-group mb-4">
	            	<label>Title *</label>
	                <input type="text" name="title" class="form-control" placeholder="Title" required v-model="title">
	            </div>
	            <div class="form-group mb-4">
	            	<div>
	            		<label>Image *</label>
	            	</div>
	            	<div v-show="image_preview" class="image-preview mb-3">
	            		<img class="img-thumbnail" :src="image_preview" alt="">
	            	</div>

		            <div class="custom-file">
						<input class="custom-file-input" type="file" name="image" accept="image/*" required @change="onImageChange">
						<label class="custom-file-label text-muted" for="image">{{ image_label || "Choose Image"}}</label>
					</div>
	            </div>

	            <div class="form-group mb-4">
	            	<div>
	            		<label>Status *</label>
	            	</div>
	                <div class="form-check form-check-inline">
						<input class="form-check-input" id="draft" type="radio" name="status" value="Draft" v-model="status">
						<label class="form-check-label" for="draft">Draft</label>
					</div>
	                <div class="form-check form-check-inline">
						<input class="form-check-input" id="publish" type="radio" name="status" value="Publish" v-model="status">
						<label class="form-check-label" for="publish">Publish</label>
					</div>
	            </div>

	            <div class="form-group mb-4">
	            	<label>Topics *</label>
	            	<p class="text-muted">
	            		<i>You can add new topic by press Enter, White Space, or Comma</i>
	            	</p>
	                <MultiSelectInput placeholder="e.g. Culture" :options="topics" @change="onTopicChange" />
	            </div>

	            <div class="form-group mb-4">
	            	<label>Content *</label>
	            	<p class="text-muted">
	            		<i>Example Youtube embed link: https://www.youtube.com/embed/xxx</i>
	            	</p>
	                <ckeditor :editor="editor" :config="editorConfig" v-model="content"></ckeditor>
	            </div>

	            <hr/>

	            <div class="form-group">
	                <input type="submit" value="Save" class="btn btn-primary mr-2" :disabled="isDisabledSubmit">
	                <router-link :to="{ name: 'user-post' }" class="btn btn-light">Cancel</router-link>
	            </div>
	        </form>

	    </div>
	</div>
</template>

<script>
	import CKEditor from '@ckeditor/ckeditor5-vue'
	import ClassicEditor from '@ckeditor/ckeditor5-build-classic'

    import { mapState } from 'vuex'
    import { get, post } from '../../helpers/Request'
    import { setData, getData } from '../../helpers/Storage'
    import CKEditorUploadAdapter from '../../helpers/CKEditorUploadAdapter'
    import MultiSelectInput from '../../components/MultiSelectInput.vue'
    import Error from '../../components/Error.vue'

	export default {
		components: {
			ckeditor: CKEditor.component,
			MultiSelectInput,
			Error
		},
		data() {
			return {
				title: null,
				image: null,
				image_label: null,
				image_preview: null,
				status: 'Draft',
				topic_ids: [],
				topic_names: [],
				content: null,
				editor: ClassicEditor,
                editorConfig: {
                    extraPlugins: [ this.uploadAdapterPlugin ]
                },
				isDisabledSubmit: false,
				errors: []
			}
		},
		computed: {
            ...mapState({
                topics: state => state.topic.topics
            })
        },
		methods: {
            uploadAdapterPlugin( editor ) {
				editor.plugins.get('FileRepository').createUploadAdapter = function(loader) {
					return new CKEditorUploadAdapter(loader)
				}
			},
			onImageChange(e) {
				this.image 		   = e.target.files[0]
				this.image_label   = this.image.name
				this.image_preview = URL.createObjectURL(this.image)
			},
			onTopicChange(e) {
				this.topic_ids 	 = e.selected_ids
				this.topic_names = e.selected_names
			},
			async getTopics() {
				this.$store.commit('general/showLoading')

                let url = '/topic'

                const response = await get(url);
                if (response.status === "success") {
                    this.$store.dispatch('topic/setTopics', response.result)

                    this.$store.commit('general/hideLoading')
                }
            },
            validateForm() {
            	let title 		= this.title
				let image 		= this.image
				let status 		= this.status
				let topic_ids 	= this.topic_ids
				let topic_names = this.topic_names
				let content 	= this.content
				let errors 		= []

				if (!title) {
					errors.push('Title is required')
				}
				if (!image) {
					errors.push('Image is required')
				}
				if (!status) {
					errors.push('Status is required')
				}
				if (topic_ids.length === 0 && topic_names.length === 0) {
					errors.push('Topics is required')
				}
				if (!content) {
					errors.push('Content is required')
				}

				if (errors.length > 0) {
					this.errors = errors
					window.scrollTo({ top: 0, behavior: 'smooth' })
				}
				else {
					this.submit()
				}
            },
			async submit() {
				this.$store.commit('general/showLoading')

				this.isDisabledSubmit = true

				const content = this.convertEmbedVideo(this.content)

				let url = '/post/add'
				let params = {
					title 		: this.title,
					image 		: this.image,
					content 	: content,
					status 		: this.status,
					topic_ids	: this.topic_ids,
					topic_names : this.topic_names,
				}

				const response = await post(url, params, true, "form-data")
				if (response) {
					if (response.status === "success") {
						// update topics
						if (this.topic_names.length > 0) {
							this.getTopics()
						}

						this.$router.push({ name: 'user-post', params: {success_msg: 'Create post success'} })
					}
					else {
						this.errors = response.messages || ['Create post failed']

						window.scrollTo({ top: 0, behavior: 'smooth' })
					}

					this.isDisabledSubmit = false

					this.$store.commit('general/hideLoading')
				}
			},
			convertEmbedVideo(content) {
				/* https://stackoverflow.com/questions/57490383/ckeditor5-how-to-insert-youtube-video
				*/
				const stringToHTML = function(str) {
					const domContainer = document.createElement("span")
					domContainer.innerHTML = str
					return domContainer
				}

				const parentEmbed = stringToHTML(content)

				let oldIframe = parentEmbed.querySelectorAll("oembed")
				oldIframe = Array.from(oldIframe)

				for (const i in oldIframe) {
					// get the url from oembed tag
					let url = oldIframe[i].getAttribute("url")

					// create a iframe tag
					const newIframe = document.createElement("iframe")
					newIframe.setAttribute("width", "500")
					newIframe.setAttribute("height", "300")
					newIframe.setAttribute("allowFullScreen", "")
					newIframe.setAttribute("frameBorder", 0)
					if (url) {
						newIframe.setAttribute("src", url)
					}
					// replace oldIframe with newIframe
					oldIframe[i].parentNode.replaceChild(newIframe, oldIframe[i])
				}

				return parentEmbed.outerHTML
			}
		}
	};
</script>