<template>
	<div class="profile-edit">
		<div class="form-wrapper">
			<h3>Edit Profile</h3>

			<Error :errors="errors" />

			<form class="mt-3" @submit.prevent="validateForm">
	            <div class="form-group">
	            	<label>Name</label>
	                <input class="form-control" type="text" placeholder="Name" required v-model="name">
	            </div>
	            <div class="form-group mb-4">
	            	<div>
	            		<label>Image</label>
	            	</div>
	            	<div v-if="image_preview" class="mb-3">
	            		<img class="img-thumbnail image-preview" :src="image_preview" alt="">
	            	</div>
	            	<div v-else-if="user && user.image" class="mb-3">
	            		<img class="img-thumbnail image-preview" :src="user.image" alt="">
	            	</div>

		            <div class="custom-file">
						<input class="custom-file-input" type="file" accept="image/*" @change="onImageChange">
						<label class="custom-file-label text-muted" for="image">{{ image_label || "Image" }}</label>
					</div>
	            </div>

	            <p class="mt-2 text-info">Fill Password to Change Password</p>

	            <div class="form-group">
	            	<label>Old Password</label>
	                <input class="form-control" type="password" placeholder="Old Password" v-model="old_password">
	                <div v-show="old_password_error" class="text-danger"><i>{{ old_password_error }}</i></div>
	            </div>
	            <div class="form-group">
	            	<label>Password</label>
	                <input class="form-control" type="password" placeholder="Password" v-model="password">
	                <div v-show="password_error" class="text-danger"><i>{{ password_error }}</i></div>
	            </div>
	            <div class="form-group mb-4">
	            	<label>Password Confirmation</label>
	                <input class="form-control" type="password" placeholder="Re-type Password" v-model="password_confirmation">
	                <div v-show="password_confirmation_error" class="text-danger"><i>{{ password_confirmation_error }}</i></div>
	            </div>

	            <hr/>

	            <div class="form-group">
	                <input class="btn btn-primary mr-2" type="submit" value="Save">
	                <router-link class="btn btn-light" :to="{ name: 'profile' }">Cancel</router-link>
	            </div>
	        </form>
	    </div>
	</div>
</template>

<script type="text/javascript">
    import { mapState } from 'vuex'
    import { post } from '../../helpers/Request'
    import { setData, getData } from '../../helpers/Storage'
    import Error from '../../components/Error.vue'

	export default {
		components: {
			Error
		},
		data() {
			return {
				user_image: this.$store.state.general.user_image,
				name: null,
				image: null,
				image_label: null,
				image_preview: null,
				old_password: null,
				password: null,
				password_confirmation: null,
                old_password_error: null,
                password_error: null,
                password_confirmation_error: null,
                isDisabledSubmit: false,
                errors: []
            }
		},
		computed: {
            ...mapState({
                user: state => state.user.user
            })
        },
        mounted() {
        	if (this.user) {
        		this.name = this.user.name
        	}
        },
		watch: {
			user(new_value, old_value) {
				// if user store empty, and then filled, update the name
				if (new_value) {
					this.name = new_value.name
				}
			}
		},
		methods: {
			onImageChange(e) {
				this.image = e.target.files[0]
				this.image_label = this.image.name
				this.image_preview = URL.createObjectURL(this.image)
			},
			validateForm() {
				this.password_error = null
				this.old_password_error = null
				this.password_confirmation_error = null

				// check password
				if (this.old_password && !this.password) {
					this.password_error = "Password is required when Old Password is filled"
				}
				else if (this.password && !this.old_password) {
					this.password_error = null
					this.old_password_error = "Old Password is required when Password is filled"
				}
				else if (this.password && !this.password_confirmation) {
					this.old_password_error = null
					this.password_confirmation_error = "Password Confirmation is required when Password is filled"
				}
				else {
					this.submit()
				}
			},
			async submit() {
				this.$store.commit('general/showLoading')

				this.isDisabledSubmit = true

				let url = '/user/update'
				let params = {
					name: this.name,
					image: this.image,
					old_password: this.old_password,
					password: this.password,
					password_confirmation: this.password_confirmation
				}

				const response = await post(url, params, true, "form-data")
	            if (response) {
		            if (response.status === "success") {
	                    this.$router.push({ name: 'profile', params: {success_msg: 'Update profile success'} })
	                }
	                else {
	                    this.errors = response.messages || ['Update profile failed']

	                    window.scrollTo({ top: 0, behavior: 'smooth' })
	                }

					this.isDisabledSubmit = false

					this.$store.commit('general/hideLoading')
	            }
			}
		}
	};
</script>