<template>
	<div class="profile" v-if="user">
		<Success :success="success_msg" />

		<div class="d-flex justify-content-between">
			<table class="table mr-5">
				<tbody>
					<tr>
						<td class="label">Name</td>
						<td class="semicolon">:</td>
						<td>{{ user.name }}</td>
					</tr>
					<tr>
						<td class="label">Email</td>
						<td class="semicolon">:</td>
						<td>{{ user.email }}</td>
					</tr>
					<tr>
						<td class="label">Image</td>
						<td class="semicolon">:</td>
						<td>
							<div class="image bg-img" v-if="user.image" :style="{ backgroundImage: `url('${user.image}')` }"></div>

							<div class="image bg-img" v-else :style="{ backgroundImage: `url('${user_image}')` }"></div>
						</td>
					</tr>
				</tbody>
			</table>

			<div class="btn-wrapper d-none d-sm-block">
				<router-link :to="{ name: 'edit-profile' }" class="btn btn-sm btn-outline-primary">Edit Profile</router-link>
			</div>
		</div>

		<!-- mobile -->
		<div class="btn-wrapper d-block d-sm-none">
			<router-link :to="{ name: 'edit-profile' }" class="btn btn-sm btn-outline-primary">Edit Profile</router-link>
		</div>
	</div>
</template>

<script type="text/javascript">
    import { mapState } from 'vuex'
    import { get } from '../../helpers/Request'
    import { setData } from '../../helpers/Storage'
    import Success from '../../components/Success.vue'

	export default {
        components: {
            Success
        },
		props: {
			success_msg: {
				type: String,
				default: null
			}
		},
		data() {
			return {
				user_image: this.$store.state.general.user_image,
			}
		},
        computed: {
            ...mapState({
                user: state => state.user.user
            })
        },
		created() {
			this.getProfile()
		},
		methods: {
			async getProfile() {
				this.$store.commit('general/showLoading')

				let url = '/user/detail'

				const response = await get(url)
				if (response) {
		            if (response.status === "success") {
						// update user data in store & storage
						this.$store.dispatch('user/setUser', response.result)
	                }
	                this.$store.commit('general/hideLoading')
	            }
			}
		}
	};
</script>