// Fonts
@font-face{
	font-family: 'Parisienne-Regular';
	src: url('../fonts/Parisienne-Regular.ttf');
}
@font-face{
	font-family: 'Poppins-Regular';
	src: url('../fonts/Poppins-Regular.ttf');
}

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'styles';