// overwrite bootstrap
.btn:focus,
.form-control:focus,
.custom-file-input:focus ~ .custom-file-label {
	box-shadow: none;
}
.form-control:focus {
	border-color: $primary;
}
.btn-outline-primary:hover {
	color: #fff;
}
.custom-file-label {
	padding-right: 80px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

// overwrite ckeditor
.ck-content {
	min-height: 300px;
}
.ck-focused {
	box-shadow: none !important;
	border-color: $primary !important;
}

// general
body {
	font-family: $font-primary;
}
a {
	color: $black;
	text-decoration: none;
	&:hover {
		color: $primary;
		text-decoration: none;
	}
}
.absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.relative {
	position: relative;
}
.ic-md {
	width: 20px;
	height: 20px;
	font-size: 0.8rem;
}
.ic-lg {
	width: 50px;
	height: 50px;
}
.bg-img {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.general-loading {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 1100;
}
.loading {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1000;
}
.general-loading,
.loading {
	background-color: #ffffff96;
	.spinner {
		width: 60px;
		height: 60px;
	}
	.horizontal {
		width: 35px;
	}
}
.scroll-top {
	width: 35px;
	height: 35px;
	border: 1px solid $primary;
	border-radius: 4px;
	background-color: #fff;
	position: fixed;
	right: 40px;
	bottom: 80px;
	img {
		// primary
		filter: invert(64%) sepia(48%) saturate(6983%) hue-rotate(126deg) brightness(94%) contrast(76%);
	}
	&:hover {
		background-color: $primary;
		cursor: pointer;
		img {
			// white
			filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(342deg) brightness(102%) contrast(102%);
		}
	}
}

// interpolation
@mixin avatar {
	width: 35px;
	height: 35px;
	border: 1px solid #aaa;
	border-radius: 50%;
	padding: 0px;
	text-align: center;
	overflow: hidden;
}
@mixin shadow {
	box-shadow: 0px 1px 3px 1px rgba(51, 51, 51, 0.075);
}

// header
header .navbar {
	padding-top: 0;
	padding-bottom: 0;
}
.menu {
	width: 100%;
	height: 53px;
	a {
		height: 100%;
	}
	.logo {
		font-family: $font-logo;
		color: $primary;
		font-size: 1.3rem;
	}
	.user {
		.dropdown-toggle {
			@include avatar;
			display: flex;
			.image {
				width: 100%;
				height: 100%;
			}
			&:after {
				display: none;
			}
		}
		.dropdown-menu {
			max-width: 170px;
			margin-top: 9px;
		}
		.name {
			width: 100%;
			padding: 0rem 1.5rem;
			color: #555;
			display: block;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
		.dropdown-item {
			color: #777;
		}
		.dropdown-item:active {
			background-color: #fff;
			color: $black;
		}
	}
}
.search-form {
	.btn {
		border: 1px solid #ccc;
		&:hover {
			background-color: #eee;
		}
		&:focus {
			opacity: 0.7;
		}
	}
	.form-control {
		width: 300px;
	}
	.search-result {
		width: 300px;
		background-color: #fff;
		border: 1px solid #ccc;
		border-radius: 0.25rem;
		font-size: 0.8rem;
		position: absolute;
		top: 40px;
		z-index: 10;
		ul {
			max-height: 220px;
			overflow-y: auto;
		}
		li {				
			width: 100%;
			&:not(:last-child) {
				border-bottom: 1px solid #eee;
			}
		}
		a, span {
			padding: 7px 10px;
			display: block;
		}
	}
}
.home .search-form {
	display: none;
}
.submenu {
	width: calc(100% - 30px);
	height: 300px;
	border: 1px solid #eee;
	position: absolute;
	top: 53px;
	z-index: 100;
	@include shadow;

	&:before {
		content: "";
		width: 13px;
		height: 13px;
		transform: rotate(45deg);
		background-color: #fff;
		border: 1px solid #eee;
		position: absolute;
		top: -7px;
		left: 90px;
		@include shadow;
	}
	.navbar-nav {
		width: 100%;
		height: 100%;
		background-color: #fff;
		padding: 15px;
		overflow-y: auto;
		position: absolute;
		z-index: 5;
		display: block;
		li {
			width: calc(100% / 6);
			display: inline-block;
			text-align: center;
			float: left;
			overflow: hidden;
			// from 7th child
			&:nth-child(n+7) {
				margin-top: 13px;
			}
			.submenu-item {
				width: 100%;
				padding: 7px;
				display: inline-block;
				&:hover {
					color: $primary;
				}
			}
		}
	}
}
#auth-modal {
	.modal-content {
		width: 450px;
	}
	.modal-body {
		overflow-x: hidden;
		padding-left: 0;
		padding-right: 0;
	}
	.form-control {
		border-radius: 0px;
		border-top: none;
		border-left: none;
		border-right: none;
		padding-left: 5px;
		padding-right: 5px;
	}
	.login-separator {
		span {
			height: 1px;
			flex: 1;
			background-color: #ccc;
			display: inline-block;
		}
	}
	.btn-google {
		color: #fff;
		background-color: #ea4335;
	}
	.btn-fb {
		color: #fff;
		background-color: #3b579d;
	}
	.auth-wrapper {
		width: 200%;
		// login & signup wrapper
		& > div {
			width: 50%;
			padding-left: 3rem;
			padding-right: 3rem;
			float: left;
			transition: 0.4s;
		}
	}
	// when signup form show
	.show-signup {
		#login-wrapper {
			margin-left: -50%;
		}
	}
}

.page {
	min-height: calc(100vh - 55px);
	padding-top: 105px;
	padding-bottom: 50px;
}

// footer
footer {
	border-top: 1px solid #ccc;
	background-color: #f5f5f5;
	padding: 20px;
}

// home
.home {
	.post-loading {
		width: 100%;
		height: unset;
		position: relative;
		margin-top: 40px;
	}
}

// post popular
.popular-post {
	width: 280px;
	min-height: 300px;
	flex-grow: 0;
	flex-shrink: 0;
	margin-top: 50px;
	h4 {
		padding-bottom: 7px;
		border-bottom: 1px solid $primary;
		margin-bottom: 10px;
	}
	ul {
		list-style: none;
		padding-left: 0;
		li {
			padding-top: 10px;
			padding-bottom: 10px;

			&:not(:last-child) {
				border-bottom: 1px solid #ccc;
			}
			.bg-img {
				background-position: left;
			}
			.post-title {
				font-weight: bold;
				line-height: 1.3;
			}
			.post-footer {
				font-size: 0.75rem;
				a:hover {
					color: #000;
				}
			}
		}
	}
}

// post card
.post-card {
	width: 47%;
	float: left;
	&:nth-child(odd) {
		margin-right: 6%;
	}
	&:nth-child(n+3) {
		margin-top: 30px;
	}
	.image {
		width: calc(100% + 2px);
		height: 200px;
		border-top-left-radius: 0.25rem;
		border-top-right-radius: 0.25rem;
		margin-top: -1px;
		margin-left: -1px;
		margin-right: -1px;
	}
	.title {
		height: 2.8rem;
		font-size: 1.05rem;
		font-weight: bold;
		line-height: 1.3;
		padding-left: 10px;
		padding-right: 10px;
		overflow-y: hidden;
	}
	.footer {
		padding-left: 10px;
		padding-right: 10px;
		font-size: 0.8rem;
		.author {
			max-width: 50%;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow-x: hidden;
		}
		a:hover {
			color: #000;
		}
	}
}
.image.lazy {
	background-color: #eee;
	background-image: linear-gradient(to bottom right, #ccc , #eee);
}

// post item
.post-item {
	padding-top: 10px;
	padding-bottom: 10px;
	&:not(:last-child) {
		border-bottom: 1px solid #ccc;
	}
	.image {
		width: 100px;
		height: 100px;
	}
	.content,
	.footer {
		flex: 1;
	}
	.title {
		font-size: 1.05rem;
		font-weight: bold;
		line-height: 1.3;
	}
	.footer {
		font-size: 0.9rem;
	}
}

// post
.post {
	.feature-img img {
		width: 100%;
	}
	.author {
		.image {
			@include avatar;
			display: flex;
			img {
				max-width: 100%;
				max-height: 100%;
			}
		}
		.name {
			font-size: 0.9rem;
			&:hover {
				color: #000;
			}
		}
	}
	.topic {
		font-size: 0.8rem;
		a:not(:last-child):after {
			content: ","
		}
	}
	.content img,
	.content iframe {
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
}

.post, .profile, .profile-edit, .my-post, .new-post, .search {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}

// profile
.profile {
	.table {
		width: unset;
		td {
			border-top: none;
		}
	}
	.label {
		font-weight: bold;
	}
	.semicolon {
		width: 20px;
		padding-left: 0;
		padding-right: 0;
	}
	.image {
		width: 70px;
		height: 70px;
		border: 1px solid #aaa;
		border-radius: 50%;
	}
}
.profile-edit {
	.image-preview {
		max-width: 150px;
		max-height: 150px;
	}
}
.form-wrapper {
	margin-left: 3rem;
	margin-right: 3rem;
}
.custom-file {
	width: 50%;
}

// my post
.my-post {
	.confirm-modal {
		.modal-footer {
			border-top: none;
		}
	}
}

// new post
.new-post {
	.image-preview img {
		max-width: 300px;
		max-height: 300px;
	}
}

// multi select input
.multi-select-input {
	height: unset;
	min-height: calc(1.6em + 0.75rem);
	cursor: text;
	& > div {
		float: left;
	}
	.badge {
		color: #fff;
		padding-right: 0px;
		margin-right: 7px;
		margin-top: 3px;
		.badge-delete {
			font-size: 0.75rem;
			padding-left: 0.4em;
			padding-right: 0.6em;
			cursor: pointer;
		}
	}
	.input {
		width: 100px;
		border: none;
		font-size: 0.8rem;
		&:focus {
			outline: none;
		}
	}
	.dropdown {
		width: 200px;
		max-height: 150px;
		overflow-y: auto;
		border: 1px solid #ccc;
		border-radius: 4px;
		background-color: #fff;
		font-size: 0.8rem;
		position: absolute;
		top: 27px;
		z-index: 10;
		.nav {
			display: block;
			flex-wrap: unset;
			li {
				padding: 5px 7px;
				&.disabled {
					background-color: #eee;
					cursor: not-allowed;
				}
				&:not(.disabled):hover {
					background-color: #fafafa;
					cursor: pointer;
				}
			}
		}
	}
}

.forget-password .card,
.reset-password .card {
	width: 400px;
}

// page not found
.page-not-found {
	color: #fff;
	.bg-img {
		width: 400px;
		height: 266px;
	}
	h1 {
		font-size: 60px;
		font-weight: bolder;
	}
}

// responsive
@media only screen and (min-width: 769px) and (max-width: 992px) {
	.post-card {
		width: 100%;
		float: left;
		&:nth-child(odd) {
			margin-right: 0;
		}
		&:nth-child(n+2) {
			margin-top: 30px;
		}
	}
	.popular-post {
		margin-top: 0;
	}
}
@media only screen and (max-width: 768px) and (min-width: 576px) {
	header .navbar {
		padding-left: 0;
		padding-right: 0;
	}
}
@media only screen and (max-width: 768px) {
	.container {
		width: 90%;
		max-width: unset;
	}
	.menu .search-form {
		.form-control {
			width: 220px;
		}
		.search-result {
			width: 100%;
		}
	}
	.submenu {
		.navbar-nav {
			li {
				width: calc(100% / 3);
			}
			// from 4th child
			&:nth-child(n+4) {
				margin-top: 13px;
			}
		}
	}
	.home {
		.w-100.mr-5 {
			margin-right: 0 !important;
		}
		.popular-post {
			display: none;
		}
	}
	.scroll-top {
		right: 15px;
		bottom: 70px;
	}
	.post, .profile, .profile-edit, .my-post, .new-post, .search {
		width: 100%;
	}
}
@media only screen and (max-width: 600px) {
	.container {
		width: 100%;
	}
	.submenu {
		width: 100%;
	}
	.menu .search-form {
		display: none;
	}
	.home, .search {
		.search-form {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		.search-result {
			width: 100%;
		}
	}
	.custom-file {
		width: 100%;
	}
}
@media only screen and (max-width: 488px) {
	.submenu .navbar-nav li {
		width: calc(100% / 2);
		// from 3th child
		&:nth-child(n+3) {
			margin-top: 13px;
		}
	}
	#auth-modal .auth-wrapper > div {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
	.home, .search {
		.search-form {
			width: 100%;
		}
		.form-control {
			width: calc(100% - 50px);
		}
	}
	.post-card {
		width: 100%;
		float: left;
		&:nth-child(odd) {
			margin-right: 0;
		}
		&:nth-child(n+2) {
			margin-top: 30px;
		}
	}
	.post .content iframe {
		max-height: 200px;
	}
	.form-wrapper {
		margin-left: 0;
		margin-right: 0;
	}
	.forget-password .card,
	.reset-password .card {
		width: calc(100% - 30px);
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
	.page-not-found .bg-img {
		width: calc(100% - 30px);
		height: 200px;
	}
}