<template>
	<div class="home">
		<!-- search form -->
		<div class="d-flex align-items-center mb-4">
            <SearchForm />
        </div>

		<div class="d-flex">
			<div class="w-100 mr-5 relative">
				<h4 class="mb-4" v-show="topic">
					Topic: <span class="text-primary">{{ topic }}</span>
				</h4>
				<h4 class="mb-4" v-show="author">
					Author: <span class="text-primary">{{ author }}</span>
				</h4>
				
				<div class="clearfix">
					<PostCard
						v-for="(post, index) in posts"
						:key="index"
						:data="post"
					/>
				</div>

				<Loading class="post-loading" :show="horizontal_loading" type="horizontal" />

			</div>

			<PostPopular />
		</div>

		<div
			class="scroll-top d-flex justify-content-center align-items-center"
			v-if="scroll_top"
			@click="scrollToTop"
		>
			<img :src="arrow_up_image" alt="Top" />
		</div>

	</div>
</template>

<script>
    import { get } from '../helpers/Request'
    import SearchForm from '../components/SearchForm.vue'
    import PostCard from '../components/PostCard.vue'
    import PostPopular from '../components/PostPopular.vue'
    import Loading from '../components/Loading.vue'

	export default {
		components: {
			SearchForm,
			PostCard,
			PostPopular,
			Loading
		},
		data() {
			return {
				arrow_up_image: this.$store.state.general.arrow_up_image,
				topic: null,
				author: null,
				posts: [],
				current_page: 0,
				last_page: 1,
				horizontal_loading: 0, 	// local (component) loading
				scroll_top: false,
			}
		},
		created() {
			window.addEventListener('scroll', this.handleScroll)
			this.getPosts()
		},
		destroyed() {
			window.removeEventListener('scroll', this.handleScroll)
		},
		watch: {
			$route(new_value, old_Value) {
				// if route change, get new post without refresh all page
				this.getPosts()
			}
		},
		methods: {
			async getPosts() {
				// show loading
				this.$store.commit('general/showLoading')

				this.topic  = this.$route.params.topic
				this.author = this.$route.params.author

				// create url based on all post, topic, or author
				let url = '/post'
				if (this.topic) {
					url = '/post/topic/' + this.topic
				}
				else if (this.author) {
					url = '/post/author/' + this.author
				}

				const response = await get(url)
	            if (response.status === "success") {
					this.posts = response.result.data
					this.current_page = response.result.current_page
					this.last_page = response.result.last_page

					// hide loading
					this.$store.commit('general/hideLoading')
	            }
			},
			async loadMore() {
				this.horizontal_loading = 1

				let url = '/post'
				if (this.topic) {
					url = '/post/topic/' + this.topic
				}
				else if (this.author) {
					url = '/post/author/' + this.author
				}
				// add page to url
				url += '?page=' + (this.current_page + 1)

				const response = await get(url)
	            if (response.status === "success") {
	            	// add new post to existing data
					this.posts.push(...response.result.data)

					this.current_page = response.result.current_page
					this.last_page = response.result.last_page

					this.horizontal_loading = 0
	            }
	            else {
	            	this.horizontal_loading = -1
	            }
			},
			handleScroll() {
				let scroll_pos = window.scrollY
				let win_height = window.innerHeight
				let doc_height = document.documentElement.scrollHeight
				let percentage = 100 * scroll_pos / (doc_height - win_height)

				if (percentage > 90
					&& this.horizontal_loading === 0 &&
					this.current_page < this.last_page) {
					this.loadMore()
				}

				// show/ hide scroll top
				if (scroll_pos >= 400) {
					this.scroll_top = true
				}
				else {
					this.scroll_top = false
				}
			},
			scrollToTop() {
				window.scrollTo({ top: 0, behavior: 'smooth' })
			}
		}
	};
</script>