<template>
	<div class="page-not-found">
		<div
			class="absolute-center text-center bg-img d-flex flex-column justify-content-center"
			:style="{ backgroundImage: `url('${image}')` }"
		>
			<h1>404</h1>
			<h3>Page Not Found</h3>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				image: this.$store.state.general.not_found_image
			}
		}
	};
</script>