<template>
	<div class="post" v-if="data">
		<div class="feature-img mt-1">
			<img v-if="data.image" :src="data.image" alt="">
			<img v-else :src="post_image" alt="">
		</div>

		<h3 class="mt-4">{{ data.title }}</h3>
		
		<div class="mt-3">
			<!-- mobile -->
			<div class="text-muted mb-3 d-block d-sm-none">
				{{ post_date }}
			</div>

			<div class="d-flex justify-content-between align-items-center">
				<div class="d-flex align-items-center author">
					<div class="image mr-2">
						<img v-if="data.user.image" :src="data.user.image" alt="Author :">
						<img v-else :src="user_image" alt="Author :">
					</div>
					
					<router-link
						class="name"
						:to="{
							name: 'author',
							params: {author: data.user.name}
						}"
					>
						{{ data.user.name }}
					</router-link>
				</div>

				<div class="text-muted d-none d-sm-block">
					{{ post_date }}
				</div>
			</div>

			<div class="d-flex mt-2 ml-2">
				<img class="ic-md mr-2" :src="tag_image" alt="Topics: ">
				<div class="topic text-muted">
					<i>
						<router-link
							v-for="(post_topic, index) in data.post_topics"
							:key="index"
							:to="{
								name: 'topic',
								params: {topic: post_topic.topic.name}
							}"
						>
							{{ post_topic.topic.name }}
						</router-link>
					</i>
				</div>
			</div>
		</div>

		<div class="content mt-4">
			<div v-html="data.content"></div>
		</div>
	</div>
</template>

<script>
	import moment from 'moment'
    import { get } from '../helpers/Request'

	export default {
		data() {
			return {
				data: null,
				post_date: null,
				post_image: this.$store.state.general.post_image,
				user_image: this.$store.state.general.user_image,
				tag_image: this.$store.state.general.tag_image,
			}
		},
		created() {
			this.getPostDetail()
		},
		methods: {
			async getPostDetail() {
				this.$store.commit('general/showLoading')

				let url = '/post/detail/'
				if (this.$route.name === 'user-post-detail') {
					url = '/post/user/detail/'
				}

				url += this.$route.params.slug

				const response = await get(url)
				if (response) {
		            if (response.status === "success") {
						this.data = response.result
						var date = response.result.post_date
						if (date) {
							this.post_date = moment(date).format('dddd, DD MMMM YYYY')
						}
					}
					this.$store.commit('general/hideLoading')
	            }
			}
		}
	};
</script>