<template>
	<div class="search">
		<!-- search form -->
		<div class="d-flex align-items-center mb-4">
            <SearchForm />
        </div>

		<h6 class="mb-4" v-show="keyword">
			Search: <span class="text-primary">{{ keyword }}</span>
		</h6>

		<div>
			<PostItem
				v-for="(post, index) in posts"
				:key="index"
				:data="post"
			/>
		</div>

		<Loading class="post-loading" :show="horizontal_loading" type="horizontal" />

		<div
			class="scroll-top d-flex justify-content-center align-items-center"
			v-if="scroll_top"
			@click="scrollToTop"
		>
			<img :src="arrow_up_image" alt="Top" />
		</div>

	</div>
</template>

<script>
    import { post } from '../helpers/Request'
    import SearchForm from '../components/SearchForm.vue'
    import PostItem from '../components/PostItem.vue'
    import Loading from '../components/Loading.vue'

	export default {
		components: {
			SearchForm,
			PostItem,
			Loading
		},
		data() {
			return {
				arrow_up_image: this.$store.state.general.arrow_up_image,
				keyword: this.$route.query.q,
				posts: [],
				current_page: 0,
				last_page: 1,
				horizontal_loading: 0, 	// local (component) loading
				scroll_top: false,
			}
		},
		created() {
			window.addEventListener('scroll', this.handleScroll)
			this.searchPosts()
		},
		destroyed() {
			window.removeEventListener('scroll', this.handleScroll)
		},
		watch: {
			$route(new_value, old_Value) {
				this.keyword = new_value.query.q
				this.searchPosts()
			}
		},
		methods: {
			async searchPosts() {
				// show loading
				this.$store.commit('general/showLoading')

				let url = '/post/search'
				let params = {
					keyword: this.keyword
				}

				const response = await post(url, params)
	            if (response.status === "success") {
					this.posts = response.result.data
					this.current_page = response.result.current_page
					this.last_page = response.result.last_page

					// hide loading
					this.$store.commit('general/hideLoading')
	            }
			},
			async loadMore() {
				this.horizontal_loading = 1

				let url = '/post/search?page=' + (this.current_page + 1)
				let params = {
					keyword: this.keyword
				}

				const response = await post(url, params)
	            if (response.status === "success") {
	            	// add new post to existing data
					this.posts.push(...response.result.data)

					this.current_page = response.result.current_page
					this.last_page = response.result.last_page

					this.horizontal_loading = 0
	            }
	            else {
	            	this.horizontal_loading = -1
	            }
			},
			handleScroll() {
				let scroll_pos = window.scrollY
				let win_height = window.innerHeight
				let doc_height = document.documentElement.scrollHeight
				let percentage = 100 * scroll_pos / (doc_height - win_height)

				if (percentage > 90
					&& this.horizontal_loading === 0 &&
					this.current_page < this.last_page) {
					this.loadMore()
				}

				// show/ hide scroll top
				if (scroll_pos >= 400) {
					this.scroll_top = true
				}
				else {
					this.scroll_top = false
				}
			},
			scrollToTop() {
				window.scrollTo({ top: 0, behavior: 'smooth' })
			}
		}
	};
</script>