<template>
	<div class="alert alert-danger" v-if="errors.length > 0">
		<ul class="mb-0 pl-2">
			<li v-for="(error, index) in errors" :key="index">{{ error }}</li>
		</ul>
	</div>
</template>

<script>
	export default {
		props: {
			errors: {
				type: Array,
				default: () => []
			}
		}
	};
</script>