<template>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light fixed-top bg-white shadow-sm">
            <div class="container relative">
                <div class="menu d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                        <router-link class="logo d-flex align-items-center mr-3" :to="{ name: 'home' }">
                            Essence
                        </router-link>
                        <a
                            href="#"
                            class="d-flex align-items-center"
                            @mouseover="showSubmenu"
                            @mouseleave="hideSubmenu"
                            @click="toggleSubmenu"
                        >
                            Topics
                        </a>
                    </div>
                    <div class="d-flex align-items-center">
                        <SearchForm class="mr-3" />

                        <button v-if="!user" class="btn btn-outline-primary" data-toggle="modal" data-target="#auth-modal">
                            Login
                        </button>

                        <div v-else class="user dropdown">
                            <button class="dropdown-toggle btn" type="button" id="dropdown-user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="image bg-img" v-if="user.image" :style="{ backgroundImage: `url('${user.image}')` }"></div>
                                <div class="image bg-img" v-else :style="{ backgroundImage: `url('${user_image}')` }"></div>
                            </button>

                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-user">
                                <span class="name">{{ user.name }}</span>
                                <div class="dropdown-divider"></div>
                                
                                <router-link class="dropdown-item" :to="{ name: 'user-new-post' }">New Post</router-link>
                                <router-link class="dropdown-item" :to="{ name: 'user-post' }">My Post</router-link>
                                <div class="dropdown-divider"></div>

                                <router-link class="dropdown-item" :to="{ name: 'profile' }">Profile</router-link>
                                <a class="dropdown-item" href="#" @click="logout">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div
                    class="submenu"
                    v-show="submenu_status"
                    @mouseover="showSubmenu"
                    @mouseleave="hideSubmenu"
                >
                    <ul class="navbar-nav">
                        <li v-for="topic in topics" :key="topic.id">
                            <router-link
                                class="submenu-item"
                                :to="{
                                    name: 'topic',
                                    params: {topic: topic.name}
                                }"
                            >
                                {{ topic.name }}
                            </router-link>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <ModalAuth v-if="!user" id="auth-modal" />
    </header>
</template>

<script>
    import { mapState } from 'vuex'
    import { get, post } from '../helpers/Request'

    import SearchForm from './SearchForm.vue'
    import ModalAuth from './ModalAuth.vue'

    export default {
        components: {
            SearchForm,
            ModalAuth
        },
        data() {
            return {
                submenu_status: false,
                user_image: this.$store.state.general.user_image
            }
        },
        computed: {
            ...mapState({
                user: state => state.user.user,
                topics: state => state.topic.topics
            })
        },
        created() {
            this.getTopics()
        },
        methods: {
            showSubmenu() {
                this.submenu_status = true
            },
            hideSubmenu() {
                this.submenu_status = false
            },
            toggleSubmenu() {
                this.submenu_status = !this.submenu_status
            },
            async getTopics() {
                if (this.topics.length === 0) {
                    let url = '/topic'

                    const response = await get(url)
                    if (response.status === "success") {
                        this.$store.dispatch('topic/setTopics', response.result)
                    }
                }
            },
            async logout() {
                this.$store.commit('general/showLoading')

                let url = '/user/logout'
                
                const response = await get(url)
                // wait the response
                if (response) {
                    // remove token from axios header
                    delete axios.defaults.headers.common['Authorization']

                    // clear user in vuex and storage
                    this.$store.dispatch('user/clearUser')
                    
                    this.$store.commit('general/hideLoading')
                    
                    // if current route not home, redirect to home
                    if (this.$route.name !== 'home') {
                        this.$router.push({ name: 'home' })
                    }
                }
            }
        }
    };
</script>