<template>
	<div
		class="d-flex justify-content-center align-items-center"
		:class="general ?
			'general-loading' :
			'loading'"
		v-if="show > 0"
	>
		<img
			v-if="type === 'spinner'"
			:src="load_image"
			alt=""
			class="spinner"
		/>
		<img
			v-else
			:src="load_image_2"
			alt=""
			class="horizontal"
		/>
	</div>
</template>

<script>
	export default {
		props: {
			show: {
				type: Number,
				default: 0
			},
			general: {
				type: Boolean,
				default: false
			},
			type: {
				type: String,
				default: 'spinner'
			}
		},
		data() {
			return {
				load_image: this.$store.state.general.load_image,
				load_image_2: this.$store.state.general.load_image_2,
			}
		}
	};
</script>