<template>
    <div class="modal fade" :id="id" ref="authModal" tabindex="-1" aria-labelledby="auth-modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered justify-content-center">
            <div class="modal-content">
                <div class="modal-body" :class="{ 'show-signup': signup }">
                    <div class="auth-wrapper">
                        <!-- login -->
                        <div id="login-wrapper">
                            <div class="mb-4">
                                <h4 class="text-center">
                                    Login
                                </h4>
                            </div>
                            <div class="pb-2">
                                <Error :errors="errors" />

                                <form @submit.prevent="submitLoginForm">
                                    <div class="form-group">
                                        <input type="email" name="email" class="form-control" placeholder="Email" required v-model="email">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" class="form-control" placeholder="Password" required v-model="password">
                                    </div>

                                    <div class="form-group mt-4">
                                        <input type="submit" value="Login" class="btn btn-primary btn-block" :disabled="isDisabledLogin">
                                    </div>
                                </form>

                                <div class="d-flex justify-content-between">
                                    <router-link :to="{ name: 'forget-password' }" data-dismiss="modal">
                                        <i>Forget Password</i>
                                    </router-link>
                                    <a href="#" class="text-primary" @click="signupClick">
                                        <i>Signup</i>
                                    </a>
                                </div>

                                <div class="login-separator d-flex align-items-center mt-3 mb-3 text-muted">
                                    <span class="mr-2"></span>
                                    OR
                                    <span class="ml-2"></span>
                                </div>

                                <!-- Google/ Facebook login -->
                                <div>
                                    <button class="btn btn-block btn-google" type="button" @click="authProvider('google')">Login with Google</button>
                                    <button class="btn btn-block btn-fb" type="button" @click="authProvider('facebook')">Login with Facebook</button>
                                </div>

                            </div>
                        </div>

                        <!-- signup -->
                        <div id="signup-wrapper">
                            <div class="mb-4">
                                <h4 class="text-center">
                                    Signup
                                </h4>
                            </div>
                            <div class="mb-4">
                                <Error :errors="errors" />

                                <form @submit.prevent="submitSignupForm">
                                    <div class="form-group">
                                        <input type="text" name="name" class="form-control" placeholder="Name" required v-model="name">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="email" class="form-control" placeholder="Email" required v-model="email">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" class="form-control" placeholder="Password" required v-model="password">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password_confirmation" class="form-control" placeholder="Re-type Password" required v-model="password_confirmation">
                                    </div>

                                    <div class="form-group mt-4">
                                        <input type="submit" value="Signup" class="btn btn-primary btn-block" :disabled="isDisabledSignup">
                                    </div>
                                </form>

                                <div class="d-flex justify-content-between">
                                    <a href="#" class="text-primary" @click="loginClick">
                                        <i>Login</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapState } from 'vuex'
    import { setData, clearData } from '../helpers/Storage'
    import { post } from '../helpers/Request'
    import Error from './Error.vue'

    export default {
        components: {
            Error
        },
        props: {
            id: {
                type: String
            }
        },
        data() {
            return {
                signup: false,
                isDisabledLogin: false,
                isDisabledSignup: false,
                name: null,
                email: null,
                password: null,
                password_confirmation: null,
                errors: []
            }
        },
        mounted() {
            // listen bootstrap event
            $(this.$refs.authModal).on("hidden.bs.modal", this.onModalClose)
        },
        methods: {
            signupClick() {
                this.signup = true
            },
            loginClick() {
                this.signup = false
            },
            onModalClose() {
                this.signup = false
            },
            authProvider(provider) {
                this.$auth.authenticate(provider).then(response => {
                    this.socialLogin(provider, response)
                })
                .catch(error => {
                    console.log('error', error)
                })
            },
            async socialLogin(provider, auth_response) {
                this.$store.commit('general/showLoading')

                let url = '/social-login/' + provider
                let params = auth_response

                const response = await post(url, params, false)
                if (response.status === "success") {
                    // set axios header
                    axios.defaults.headers.common['Authorization'] = 'Bearer ' + response.result.access_token

                    // store data to vuex
                    this.$store.dispatch('user/setUser', response.result.user)
                    setData('act', response.result.access_token)
                    
                    // no refresh token in social login
                    clearData('rft')

                    this.$store.commit('general/hideLoading')

                    // hide modal
                    $(this.$refs.authModal).modal('hide')

                    // redirect to home
                    if (this.$route.name === 'forget-password' || this.$route.name === 'reset-password') {
                        this.$router.push({ name: 'home' })
                    }
                }
            },
            async submitLoginForm() {
                this.$store.commit('general/showLoading')

                this.isDisabledLogin = true

                let url = '/oauth/token'
                let params = {
                    grant_type    : "password",
                    scope         : "*",
                    client_id     : process.env.MIX_PASSWORD_ID,
                    client_secret : process.env.MIX_PASSWORD_SECRET,
                    username      : this.email,
                    password      : this.password
                }

                const response = await post(url, params, false) // url without "/api"
                if (response.status === "success") {
                    // set axios header
                    axios.defaults.headers.common['Authorization'] = 'Bearer ' + response.result.access_token

                    // store data to vuex
                    this.$store.dispatch('user/setUser', response.result.user)
                    setData('act', response.result.access_token)
                    setData('rft', response.result.refresh_token)

                    this.$store.commit('general/hideLoading')

                    // hide modal
                    $(this.$refs.authModal).modal('hide')

                    // reset form
                    this.email = null
                    this.password = null

                    // redirect to home
                    if (this.$route.name === 'forget-password' || this.$route.name === 'reset-password') {
                        this.$router.push({ name: 'home' })
                    }
                }
                else {
                    this.errors = response.messages || ['Login failed']

                    this.$store.commit('general/hideLoading')
                }
                
                this.isDisabledLogin = false

                return true
            },
            async submitSignupForm() {
                this.$store.commit('general/showLoading')

                this.isDisabledSignup = true

                let url = '/user/register'
                let params = {
                    name                  : this.name,
                    email                 : this.email,
                    password              : this.password,
                    password_confirmation : this.password_confirmation
                }

                const response = await post(url, params)
                if (response.status === "success") {
                    let login = await this.submitLoginForm()

                    if (login) {
                        console.log('login ---', login)
                        this.$store.commit('general/hideLoading')

                        // reset form
                        this.name = null
                        this.email = null
                        this.password = null
                        this.password_confirmation = null
                    }
                }
                else {
                    this.errors = response.messages || ['Signup failed']

                    this.$store.commit('general/hideLoading')
                }
                
                this.isDisabledSignup = false
            }
        }
    };
</script>
