<template>
	<div
		class="multi-select-input form-control clearfix"
		@click="focusInput"
		v-outside-click="closeDropdown"
	>
		<div
			class="badge badge-pill badge-info"
			v-for="(item, index) in selected_options"
			:key="index"
		>
			{{ item.name }} <span class="badge-delete" @click="removeOption(item, index)">x</span>
		</div>
		
		<div class="input-wrapper relative">
			<input
				class="input"
				type="text"
				ref="input"
				:placeholder="placeholder"
				@keyup="searchOption"
				@keypress="addNewOption"
			>

			<div class="dropdown" v-show="search_result.length > 0">
				<ul class="nav">
					<li
						v-for="(item, index) in search_result"
						:key="index"
						:class="selected_ids.includes(item.id) ? 'disabled' : ''"
						@click="selected_ids.includes(item.id) ? '' : selectOption(item)"
					>
						{{ item.name }}
					</li>
				</ul>
			</div>
		</div>
	</div>
</template>

<script>
	import { arrayEquals } from '../helpers/Helper'

	export default {
		props: {
			options: {
				type: Array,
				default: () => []
			},
			placeholder: {
				type: String,
				default: 'Type option...'
			},
			selected: {
				type: Array,
				default: () => []
			}
		},
		data() {
			return {
				selected_options: [],
				selected_ids: [],
				selected_names: [],
				search_result: [],
			}
		},
		directives: {
			'outside-click': {
				bind: function(el, binding) {
					// define clickEventHandler
					const clickEventHandler = event => {
						if (!el.contains(event.target) && el !== event.target) {
							// as we are attaching an click event listern to the document (below)
							// ensure the events target is outside the element or a child of it
							binding.value(event); // before binding it
						}
					};
					// attached the handler to the element so we can remove it later easily
					el.__vueClickEventHandler__ = clickEventHandler;

					// attaching clickEventHandler to a listener on the document here
					document.addEventListener("click", clickEventHandler);
				},
				unbind: function(el) {
					// remove event listener
					document.removeEventListener("click", el.__vueClickEventHandler__);
				}
			}
		},
		watch: {
			// set selected value
			selected(new_value, old_value) {
				if (!arrayEquals(new_value, old_value)) {
					this.selected_ids = new_value

					let selected_options = []
					this.options.forEach( function(item, index) {
						if (new_value.includes(item.id)) {
							selected_options.push(item)
						}
					});

					this.selected_options = selected_options
				}
			}
		},
		methods: {
			focusInput() {
				// set focus on input
				this.$refs.input.focus()
			},
			emitToParent() {
				let data = {
					selected_ids   : this.selected_ids,
					selected_names : this.selected_names
				}
				this.$emit('change', data)
			},
			searchOption(event) {
				let value = event.target.value
				let result = []

				// search options
				for (let i=0; i < this.options.length; i++) {
					// create regex (case insensitive)
					let regex = new RegExp(value, "gi")

			        if (this.options[i].name.match(regex)) {
			            result.push(this.options[i])
			        }
			    }

			    this.search_result = result
			},
			addNewOption(event) {
				let key_code = event.keyCode || event.which
				// if enter, white space, or comma is pressed
				if (key_code === 13 || key_code === 32 || key_code === 44) {
					event.preventDefault()
					let value = event.target.value

					if (value) {
						// add new option
						let selected_names   = this.selected_names
						let selected_options = this.selected_options

						selected_names.push(value)

						let option = { name: value }
						selected_options.push(option)

						this.selected_names   = selected_names
						this.selected_options = selected_options

						// clear search & input
						this.search_result 	   = []
		            	this.$refs.input.value = null

		            	// pass data to parent
		            	this.emitToParent()
		            }
				}
			},
			selectOption(item) {
				let selected_options = this.selected_options
				let selected_ids 	 = this.selected_ids

				selected_options.push(item)
				selected_ids.push(item.id)

				this.selected_options = selected_options
				this.selected_ids 	  = selected_ids

				// clear search & input
	            this.search_result 	   = []
	            this.$refs.input.value = null

	            // pass data to parent
	            this.emitToParent()
			},
			removeOption(item, index) {
				if (item.id) {
					// remove id
					let selected_ids = this.selected_ids
					let id_index 	 = selected_ids.indexOf(item.id)

					selected_ids.splice(id_index, 1)
					this.selected_ids = selected_ids
				}
				else {
					// remove name
					let selected_names = this.selected_names
					let name_index 	   = selected_names.indexOf(item.name)

					selected_names.splice(name_index, 1)
					this.selected_names = selected_names
				}

				let selected_options = this.selected_options
				selected_options.splice(index, 1)
				this.selected_options = selected_options

				// pass data to parent
	            this.emitToParent()
			},
			closeDropdown() {
				this.$refs.input.value = null
				this.search_result 	   = []
			}
		}
	};
</script>