<template>
    <div class="card post-card" v-lazyload>
        <router-link
            class="d-flex flex-column"
            :to="{
                name: 'post',
                params: {slug: data.slug}
            }"
        >
            <div class="image bg-img lazy" v-if="data.image" :data-src="data.image"></div>
            <div class="image bg-img lazy" v-else :data-src="post_image"></div>

            <div class="title mt-3">{{ limitChars(data.title, 70) }}</div>
        </router-link>

        <div class="footer d-flex justify-content-between mt-2 pb-3">
            <div class="author">
                <router-link
                    :to="{
                        name: 'author',
                        params: {author: data.user.name}
                    }"
                >
                    {{ data.user.name }}
                </router-link>
            </div>
            <div class="date text-muted">{{ post_date }}</div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment'
    import { limitChars } from '../helpers/Helper'

    export default {
        props: {
            data: {
                type: Object
            }
        },
        data() {
            return {
                post_image: this.$store.state.general.post_image,
                post_date: null
            }
        },
        directives: {
            lazyload: {
                inserted: el => {
                    function loadImage() {
                        const imageElement = el.querySelectorAll(".lazy")[0]
                        if (imageElement) {
                            let src = imageElement.dataset.src
                            imageElement.style.backgroundImage = `url('${src}')`
                            delete imageElement.dataset.src
                            imageElement.classList.remove("lazy")
                        }
                    }

                    function handleIntersect(entries, observer) {
                        entries.forEach(entry => {
                            if (entry.isIntersecting) {
                                loadImage()
                                observer.unobserve(el)
                            }
                        })
                    }

                    function createObserver() {
                        const options = {
                            root: null,
                            threshold: "0"
                        }
                        const observer = new IntersectionObserver(handleIntersect, options)
                        observer.observe(el)
                    }
                    if (window["IntersectionObserver"]) {
                        createObserver()
                    }
                    else {
                        loadImage()
                    }
                }
            }
        },
        mounted() {
            this.formatDate()
        },
        methods: {
            limitChars,
            formatDate() {
                let date = this.data.post_date
                if (date) {
                    this.post_date = moment(date).format('DD MMMM YYYY')
                }
            }
        }
    };
</script>
