<template>
    <div class="popular-post">
        <h4 class="text-primary">Popular Post</h4>
        <ul>
            <li
                class="d-flex"
                v-for="(post, index) in posts"
                :key="index"
            >
                <router-link
                    class="mr-2"
                    :to="{
                        name: 'post',
                        params: {slug: post.slug}
                    }"
                >
                    <div class="bg-img ic-lg" v-if="post.image" :style="{ backgroundImage: `url('${post.image}')` }"></div>

                    <div class="bg-img ic-lg" v-else :style="{ backgroundImage: `url('${post_image}')` }"></div>

                </router-link>

                <div class="d-flex flex-column flex-grow-1 justify-content-between">
                    <router-link
                        :to="{
                            name: 'post',
                            params: {slug: post.slug}
                        }"
                    >
                        <div class="post-title">{{ limitChars(post.title, 40) }}</div>
                    </router-link>

                    <div class="post-footer text-muted d-flex justify-content-between">
                        <router-link
                            :to="{
                                name: 'author',
                                params: {author: post.user.name}
                            }"
                        >
                            {{ post.user.name }}
                        </router-link>
                        <i>{{ kFormatter(post.view) }} views</i>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
    import { get } from '../helpers/Request'
    import { limitChars, kFormatter } from '../helpers/Helper'

    export default {
        data() {
            return {
                posts: [],
                post_image: this.$store.state.general.post_image
            }
        },
        created() {
            if (window.innerWidth > 768) {
                this.getPopularPost()
            }
        },
        methods: {
            limitChars,
            kFormatter,
            async getPopularPost() {
                this.$store.commit('general/showLoading')

                let url = '/post/popular'

                const response = await get(url)
                if (response) {
                    if (response.status === "success") {
                        this.posts = response.result
                    }
                    this.$store.commit('general/hideLoading')
                }
            }
        }
    };
</script>
