<template>
    <div class="post-item d-flex" v-lazyload>
        <router-link
            :to="user ?
            {
                name: 'user-post-detail',
                params: {slug: data.slug}
            } :
            {
                name: 'post',
                params: {slug: data.slug}
            }"
        >
            <!-- <div class="image bg-img" v-if="data.image" :style="{ backgroundImage: `url('${data.image}')` }"></div> -->
            <!-- <div class="image bg-img" v-else :style="{ backgroundImage: `url('${post_image}')` }"></div> -->
            <div class="image bg-img lazy" v-if="data.image" :data-src="data.image"></div>
            <div class="image bg-img lazy" v-else :data-src="post_image"></div>
        </router-link>

        <div class="content d-flex flex-column p-2 ml-1">
            <router-link
                :to="user ?
                {
                    name: 'user-post-detail',
                    params: {slug: data.slug}
                } :
                {
                    name: 'post',
                    params: {slug: data.slug}
                }"
            >
                <div class="title">{{ limitChars(data.title, 170) }}</div>
            </router-link>

            <div class="footer d-flex justify-content-between align-items-end">
                <div class="left">
                    <div v-if="!user">
                        <router-link
                            :to="{
                                name: 'author',
                                params: {author: data.user.name}
                            }"
                        >
                            {{ data.user.name }}
                        </router-link>
                    </div>
                    <div v-else :class="data.status === 'Draft' ? 'text-warning' : 'text-primary'">{{ data.status }}</div>

                    <div class="text-muted">{{ post_date }}</div>
                </div>
                <div v-if="user">
                    <router-link
                        class="btn btn-sm btn-outline-info mr-2"
                        :to="{
                            name: 'user-edit-post',
                            params: {id: data.id}
                        }"
                    >
                        Edit
                    </router-link>
                    <button class="btn btn-sm btn-outline-danger" @click="confirmDelete">Delete</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment'
    import { limitChars } from '../helpers/Helper'

    export default {
        props: {
            data: {
                type: Object
            },
            user: {
                type: Boolean,
                default: false
            }
        },
        data() {
            return {
                post_image: this.$store.state.general.post_image,
                post_date: null
            }
        },
        directives: {
            lazyload: {
                inserted: el => {
                    function loadImage() {
                        const imageElement = el.querySelectorAll(".lazy")[0]
                        if (imageElement) {
                            let src = imageElement.dataset.src
                            imageElement.style.backgroundImage = `url('${src}')`
                            delete imageElement.dataset.src
                            imageElement.classList.remove("lazy")
                        }
                    }

                    function handleIntersect(entries, observer) {
                        entries.forEach(entry => {
                            if (entry.isIntersecting) {
                                loadImage()
                                observer.unobserve(el)
                            }
                        })
                    }

                    function createObserver() {
                        const options = {
                            root: null,
                            threshold: "0"
                        }
                        const observer = new IntersectionObserver(handleIntersect, options)
                        observer.observe(el)
                    }
                    if (window["IntersectionObserver"]) {
                        createObserver()
                    }
                    else {
                        loadImage()
                    }
                }
            }
        },
        mounted() {
            this.formatDate()
        },
        methods: {
            limitChars,
            confirmDelete() {
                let data = {
                    id    : this.data.id,
                    title : this.data.title,
                }
                this.$emit('confirmDelete', data)
            },
            formatDate() {
                let date = this.data.post_date
                if (date) {
                    this.post_date = moment(date).format('DD MMMM YYYY')
                }
            },
        }
    };
</script>
