<template>
    <form
        class="search-form relative"
        @submit.prevent="submitForm"
    >
        <div class="input-group">
            <input
                type="search" name="search" class="form-control" placeholder="Search..." autocomplete="off"
                v-model="keyword" 
                @keyup="searchPost"
            >
            <div class="input-group-append">
                <button class="btn">
                    <img class="ic-md" :src="search_image" alt="Search">
                </button>
            </div>
        </div>

        <div class="search-result" v-show="keyword && keyword.length >= 3">
            <ul class="nav" v-if="search_result.length > 0">
                <li
                    v-for="result in search_result"
                    :key="result.id"
                    @click="clearKeyword"
                >
                    <router-link
                        :to="{
                            name: 'post',
                            params: {slug: result.slug}
                        }"
                    >
                        {{ result.title }}
                    </router-link>
                </li>
            </ul>
            <ul class="nav" v-else>
                <li class="text-center">
                    <span class="text-muted">No result found</span>
                </li>
            </ul>
        </div>
    </form>
</template>

<script>
    import { post } from '../helpers/Request'

    export default {
        data() {
            return {
                search_image: this.$store.state.general.search_image,
                keyword: null,
                search_result: [],
            }
        },
        methods: {
            clearKeyword() {
                this.keyword = null
            },
            submitForm() {
                let keyword = this.keyword
                if (keyword) {
                    this.clearKeyword()
                    this.$router.push({ name: 'search', query: {q: keyword} })
                }
            },
            async searchPost(e) {
                // if not enter & >= 3 chars
                if (e.keyCode !== 13 && this.keyword.length >= 3) {
                    // quick search
                    let url = '/post/search/quick'
                    let params = {
                        keyword: this.keyword
                    }

                    const response = await post(url, params)
                    if (response.status === "success") {
                        this.search_result = response.result
                    }
                }
            }
        }
    };
</script>
