<template>
	<div class="alert alert-success" v-if="success">
		<div>{{ success }}</div>
	</div>
</template>

<script>
	export default {
		props: {
			success: {
				type: String,
				default: null
			}
		}
	};
</script>