<template>
	<div class="forget-password">
		<div class="absolute-center d-flex flex-column justify-content-center card pt-4 pb-4 pl-5 pr-5">
			<h4 class="mb-4">Forget Password</h4>

			<Success :success="success" />
			<Error :errors="errors" />

			<form @submit.prevent="validateForm">
				<div class="form-group">
					<label>Email *</label>
                    <input type="email" class="form-control" placeholder="Email" v-model="email">
                </div>
                <div class="mt-4">
	                <input type="submit" value="Submit" class="btn btn-primary mr-2">
	                <router-link :to="{ name: 'home' }" class="btn btn-light">Cancel</router-link>
	            </div>
			</form>
		</div>
	</div>
</template>

<script>
    import { post } from '../../helpers/Request'
    import Success from '../../components/Success.vue'
    import Error from '../../components/Error.vue'

	export default {
		components: {
			Success,
			Error
		},
		data() {
			return {
				email: null,
				success: null,
				errors: []
			}
		},
		methods: {
			validateForm() {
				let errors = []
				if (!this.email) {
					errors.push('Email is required')
				}

				if (errors.length > 0) {
					this.errors = errors
				}
				else {
					this.submit()
				}
			},
			async submit() {
				this.$store.commit('general/showLoading')

				let url = '/user/password/forget'
				let params = {
					email : this.email,
				}

				const response = await post(url, params)
				if (response) {
					if (response.status === "success") {
						this.email 	 = null
						this.errors  = []
						this.success = response.messages[0] || "Link for reset password has been successfully send to your email"
					}
					else {
						this.success = null
						this.errors  = response.messages || ['Request for reset password failed']
					}

					this.$store.commit('general/hideLoading')
				}
			}
		}
	};
</script>