<template>
	<div class="reset-password">
		<div class="absolute-center d-flex flex-column justify-content-center card pt-4 pb-4 pl-5 pr-5">
			<h4 class="mb-4">Reset Password</h4>

			<Success :success="success" />
			<Error :errors="errors" />

			<form @submit.prevent="validateForm">
				<div class="form-group">
					<label>New Password *</label>
                    <input type="password" class="form-control" placeholder="Password" v-model="password">
                </div>
				<div class="form-group">
					<label>Confirm Password *</label>
                    <input type="password" class="form-control" placeholder="Password" v-model="password_confirmation">
                </div>
                <div class="mt-4">
	                <input type="submit" value="Submit" class="btn btn-primary mr-2">
	                <router-link :to="{ name: 'home' }" class="btn btn-light">Cancel</router-link>
	            </div>
			</form>
		</div>
	</div>
</template>

<script>
    import { post } from '../../helpers/Request'
    import Success from '../../components/Success.vue'
    import Error from '../../components/Error.vue'

	export default {
		components: {
			Success,
			Error
		},
		data() {
			return {
				password: null,
				password_confirmation: null,
				success: null,
				errors: []
			}
		},
		created() {
			if (!this.$route.query.key) {
				this.$router.push({ name: 'forget-password' })
			}
		},
		methods: {
			validateForm() {
				let errors = []
				if (!this.password) {
					errors.push('Password is required')
				}
				if (!this.password_confirmation) {
					errors.push('Confirm Password is required')
				}

				if (errors.length > 0) {
					this.errors = errors
				}
				else {
					this.submit()
				}
			},
			async submit() {
				this.$store.commit('general/showLoading')

				let url = '/user/password/reset'
				let params = {
					token 				  : this.$route.query.key,
					password 			  : this.password,
					password_confirmation : this.password_confirmation,
				}

				const response = await post(url, params)
				if (response) {
					if (response.status === "success") {
						this.password = null
						this.password_confirmation = null

						this.errors  = []
						this.success = response.messages[0] || "Reset password success"
					}
					else {
						this.success = null
						this.errors  = response.messages || ['Reset password failed']
					}

					this.$store.commit('general/hideLoading')
				}
			}
		}
	};
</script>