<template>
	<div>
		<Header />

		<!-- content -->
		<div class="page container">
			<router-view></router-view>
		</div>

		<Loading :show="loading" :general="true" />

		<Footer />
	</div>
</template>

<script>
    import { mapState } from 'vuex'
	import Header from '../components/Header.vue'
	import Footer from '../components/Footer.vue'
    import Loading from '../components/Loading.vue'

	export default {
		name: 'App',
		components: {
			Header,
			Footer,
			Loading,
		},
		computed: {
			...mapState({
				loading: state => state.general.loading
			})
		}
	};
</script>